.hamburger{
    width: 30px;
    display: block;
    cursor: pointer;
}
.hamburger > span {
    height: 3px;
    background-color: white;
    display: block;
    width: 100%;
    margin: 5px 0;
}

.smallTriangle{
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid rgb(71, 73, 69);
}